* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

.projects-container {
    height: 100%;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    display: flex;
    overflow: hidden;
}

.projects-container:has(.project.active) .project:not(.active) {
    filter: grayscale(100%)
}

.project {
    height: 100%;
    width: calc(100% / 5);
    overflow: hidden;
    border: 2px solid #141414;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.32, 0, 0.67, 0);
    position: relative;
}

.project .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.32, 0, 0.67, 0);
    color: #ffcb0a;
    background-color: #00000088;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 10px 10px 20px 20px;
    font-size: 25px;
}

.active .about {
    visibility: visible;
    opacity: 1;
}

.about h2,
.about h3 {
    opacity: 0;
}

.about h2 {
    transform: scaleY(-1) scale(0.5);
    transition: all 1s 0.4s;
}

.about h3 {
    transform: translate(0, 100%);
    transition: all 1s 0.8s;
}

.active .about h2,
.active .about h3 {
    transform: translate(0, 0) scale(1);
    opacity: 1;
}

.active {
    width: 200%;
}